.shipping{
  width: 100%;
  height: 67vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  &-main{
    width: 1000px;
    height: 63vh;
    padding: 25px 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;
    margin: 20px 0;
    border-radius: 8px;
    background-color: var(--white-two);
    h3, p{
      margin: 0;
    }
    &__actions {
      display: flex;
      flex-direction: column;
      height: 65%;
      width: 100%;
      .shipping-main__dropdowns{
        display: flex;
        justify-content: space-between;
        align-self: flex-start;
        justify-self: flex-start;
        margin-top: 30px;
        width: 45%;
        select{
          border-color: var(--red-pink);
          background-color: var(--white-two);
          width: 48%;
          height: 30px;
          outline: none;
          font-weight: bold;
        }
      }
    }
    button{
      width: 80px;
      height: 30px;
      color: white;
      background-color: var(--red-pink);
      border: none;
      font-weight: bold;
      border-radius: 20px;
      outline: none;
      cursor: pointer;
    }
  }
}
