.navbar-profile{
  display: flex;
  height: 72px;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #2e2e2e;
  color: white;

  .navbar-profile__main{
    width: 1000px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .navbar-profile__brand{
      font-size: 24px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: 4px;
      color: var(--red-pink);
    }

    .navbar-profile__categories{
      display: flex;
      width: 400px;
      justify-content: space-evenly;
    }

    .navbar-profile__search{
      display: flex;
      align-items: center;
      img{
        position: relative;
        right: -35px;
        width: 15px;
        height: 15px;
      }
      input[type="search" i] {
        border: rgba(255, 255, 255, 0.5);
        width: 260px;
        height: 36px;
        color: white;
        border-radius: 18px;
        outline:none;
        font-size: 14px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.71;
        letter-spacing: normal;
        text-indent: 46px;
        background-color: rgba(255, 255, 255, 0.5);
      }
      ::placeholder{
        position: relative;
        color: white;
        font-size: 14px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.71;
        letter-spacing: normal;
      }

      p{
        color: white;
        position: relative;
        right: 35px;
        top: -1px;
        font-weight: bold;
        cursor: pointer;
      }
    }

    .navbar-profile__user{
      cursor: pointer;
      :focus{
        border: none;
      }
      img{
        background-color: white;
        border: white;
        border-radius: 50%;
        width: 28px;
        height: 28px;
      }
    }
  }
}

.navbar-dropdown__container{
  position: absolute;
  .navbar-dropdown__main{
    position: relative;
    top: 8vh;
    left: 29vw;
    width: 100px;
    height: 60px;
    margin: 0;
    background-color: #2e2e2e;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    letter-spacing: 0;
    line-height: normal;
    color: #e2e2e2;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    p{
      margin: 0;
      vertical-align: center;
    }
  }
}
